@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');

:root {
    --font-color: #838383;
    --header-color: #5d5a5a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover; 
}

.hero video {
    height: 100%;
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left:0
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(16, 15, 15, 0.5);
}

.hero .caption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    z-index: 3;
    color: white;
    padding: 0 0 0 100px;
}

.hero .caption h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

.hero .caption p {
    font-size: 1.5rem;
}

.hero .caption img {
    width: 40%;
}

.hero .caption .font-awesome {
    margin-top: 50px;
}

.font-awesome i {
    padding: 0 20px;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}

.font-awesome i:hover {
    transform: translateY(-7px);
}


.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.line {
    width: 100%;
    height: 3px;
    background-color: gold;
    transition: 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.navbar {
    width: 300px;
    height: 100%;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition-property: right;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    z-index: 4;
}
.change {
    right: 0;
}

.nav-list {
    text-align: right;
}

.nav-item {
    list-style: none;
    margin: 25px;
    color: white;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;

}

.nav-link::before, .nav-link::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: gold;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
 
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
   
}

/* Main Content Starts */

#main {
    height: 100vh;
}

#main h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 3rem;
    color: var(--header-color)
}

#main .container {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#main .container p {
    color: var(--font-color);
    margin-right: 40px;
    line-height: 2.5;
    width: 60%;
   
}

#main .container p span{
    font-style: italic;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--header-color);
}

#main .container p span i {
    transform: translateY(-15px);
    padding: 0 20px;    
}

/*========================= Meet the team styling =======================*/

.title {
    text-align: center;
    text-transform: capitalize;
    color: var(--header-color);
    margin: 10px 0;
    position: relative;
    font-size: 4rem;
}

.title::after {
    content: '';
    position: absolute;
    width: 20%; 
    height: 2px;
    background-image: linear-gradient(to left, transparent 5%, var(--font-color));
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.team-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 40px 0;
}

.member {
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.25s ease-in;
}

.member:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transform: translateY(-20px);
}

.member h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: var(--header-color);
    margin: 15px 0;
}

.member p {
    font-size: 15px;
    color: #838383;
    line-height: 1.6;
}


.member img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid var(--header-color);
    border-radius: 50%;
    margin: 0 auto;
}


/* ==================== Footer Section ============================ */

#footer {
    background-color: #262626;
    width: 100%;
    padding: 50px 0;
}

#footer .footer-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.footer-container h3 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.footer-menu ul li {
    list-style: none;
    padding: 1px 0;
}

.footer-menu ul li a {
    text-decoration: none;
    color: white;
}






