 :root {
    --primary-color: #ff7846;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.hero {
    width: 80%;
    height: 450px;
    position: relative;
    margin: 100px auto;
    overflow: hidden;
}



.btn-box {
    display: flex;
    border-bottom: 1px solid #ccc;
    
}

.btn-box button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

.btn-box .fa-brands {
    margin-right: 20px;
}

.btn-box button:hover .fa-brands {
    color: var(--primary-color);
}

.content-right img {
    width: 350px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s;
}

.content-left {
    flex-basis: 50%;
}

.content-left p {
    font-size: 13px;
    padding: 30px 0;
}

.content-left a {
    width: 150px;
    display: block;
    padding: 8px 5px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    border-radius: 20px;
}

.content-right {
    flex-basis: 50%;
    text-align: center;
}

#content-1 {
    transform: translateX(0);
}

#btn-1 {
    color: var(--primary-color);
}

